<div id='main'>
	<div class="container-fluid cleardiv">
		<div class="loginsection">
			<div class="text-center loginTopheader"><img src="assets/images/logo.png" alt="Logo" /></div>
			<div class="logpadding ">

				<h2 class="loginheader text-center">UPDATE PASSWORD</h2>
				<div *ngIf="PasswordSuccessMsg.length  > 0"id="PasswordSuccessMsg" class="{{PasswordMsgClass}}">
					
					<b>{{PasswordSuccessMsg}}</b>
					<div class="commentp margintop15">
						<a role="button" tabindex="0" [routerLink]="[ '/', 'login' ]" >Login</a>
					</div>
				</div>
				<form *ngIf="this.ShowForm" #newpasswordForm="ngForm" (ngSubmit)="submitted && newpasswordForm.form.valid && upadatePassword()" novalidate="true">
					<div class="newpasswordForm">
						<div class="row">
							<label class="loginformlabel" for="password">New Password</label>
							<input class="invitesearch"(blur)="hidePasswordHelper()" (focus)="showPasswordHelper()"  [(ngModel)]="form.password" id="password" type="password"  class="form-control customfield" required  minlength="8"
							maxlength="15"
							name="passwsord" #password="ngModel" ngPasswordValidator>
							<div *ngIf=" submitted && password.errors" class="fielderror"  >
								<div [hidden]="!password.errors.required">
									Password is required
								</div>

								<div id="password_valid" *ngIf="!(password.errors=='passwordRulesInvalid') && !password.errors.required">Password is not valid</div>
							</div>

							<div class="password-helper" *ngIf="showHelper" style="background: #f7f9fa; padding:5px 10px!important; font-size: 13px;margin-top:10px;">
								<ng-password-helper></ng-password-helper>
							</div>

							<label class="loginformlabel" for="password">Confirm Password</label>
							<input class="invitesearch"  [(ngModel)]="form.confirmpassword" id="confirmpassword" type="password"  class="form-control customfield" required minlength="8" 
							maxlength="15" name="confisrmpassword" #confirmpassword="ngModel">

					<!-- 		newpasswordForm.controls['confirmpassword'].touched
					&&  confirmpassword.errors ||  -->


					<div *ngIf=" submitted &&  confirmpassword.errors " class="fielderror">
						<div [hidden]="!confirmpassword.errors.required">
							Confirm password is required
						</div>
						<div [hidden]="!confirmpassword.errors.minlength">
							Confirm password must be at least 8 characters long.
						</div> 
						<div [hidden]="!confirmpassword.errors.maxlength">
							Confirm password cannot be more than 15 characters long.
						</div> 
					</div>
<!-- && newpasswordForm.controls['confirmpassword'].touched && newpasswordForm.controls['confirmpassword'].dirty
	&& newpasswordForm.controls['confirmpassword'].value !==  newpasswordForm.controls['password'].value-->


	<div class="fielderror" *ngIf=" !confirmpassword.errors && confirmpassword.value != password.value">
		Passwords must match </div>

		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="buttonarea text-center">
				<button type="submit" (click)="submitted = true;  isPasswordMatching()" class="normal bluebutton bluebuttonlarge">Update Password</button>
			</div>
		</div>
	</div>

</div>
</form>
</div>
</div>
</div>


</div>