<div id='main'>
	<div class="container-fluid cleardiv">
		<div class="loginsection">
			<div class="text-center loginTopheader"><img src="assets/images/logo.png" alt="Logo" /></div>
			<div class="logpadding ">

				<h2 class="loginheader text-center">FORGOT PASSWORD? </h2>
				<div  *ngIf="isSuccess"  class="text-center" >
					<b>We have sent a reset password link to your email account</b>
					<div class="commentp margintop15">
						<a role="button" tabindex="0" [routerLink]="[ '/', 'login' ]" >Login</a>
					</div>
				</div>
				<div *ngIf="this.errorEmailVlaidCheckMsg" class="text-center" >
					<strong style="font-size: 20px;color: #843534;" >{{errorEmailVlaidCheckMsg}}</strong>
					<div class="commentp margintop15">
						<a role="button" tabindex="0" (click)="showForm()" ><i class="fa fa-arrow-circle-left" aria-hidden="true"> </i> Back to forgot password</a>
					</div>
				</div>

				<form *ngIf="this.ShowForm" #forgotForm="ngForm" (ngSubmit)="submitted && forgotForm.form.valid && isEmailValid && forgotpwd()" novalidate="true" >
					<div class="forgotForm">
						

						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="form-group">

									<label class="forgotFormlabel" for="email">Enter Email Address</label>
									<input [(ngModel)]="forgotEmail" (ngModelChange)="unsetValidation()" id="email" type="email" class="form-control customfield" required minlength="10" maxlength="50"
									(blur)="validateEmail(forgotEmail)" (keyup)="validateEmail(forgotEmail)" name="user_name" #user_name="ngModel">
									<div *ngIf="submitted && user_name.errors " class="fielderror">
										<div [hidden]="!user_name.errors.required">
											Email is required
										</div>
										<div [hidden]="!user_name.errors.minlength">
											Email must be at least 10 characters long.
										</div>
										<div [hidden]="!user_name.errors.maxlength">
											Email cannot be more than 50 characters long.
										</div>
									</div>
									<div *ngIf="submitted && user_name.errors == null && this.checkData" class="fielderror">
										{{errorMsg}}
									</div>
									<div *ngIf="submitted && user_name.errors == null && !isEmailValid" class="fielderror">
										Email invalid.
									</div>
								</div>

							</div>
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="form-group">
									<label class="loginformlabel" for="password">
										<a role="button" tabindex="0" [routerLink]="[ '/', 'login' ]" > <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back to login</a>
									</label>
								</div>
							</div>

							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="buttonarea text-center">
									<button type="submit" (click)="submitted = true;validateEmail(forgotEmail);" class="normal bluebutton bluebuttonlarge">Send Reset Link</button>
								</div>
							</div>
						</div>

					</div>
				</form>
			</div>
		</div>
	</div>
</div>